<div class="jumbotron">
<h1><i class="fa fa-fighter-jet fa-lg fa-spin"></i>Dashboard</h1>
<p>Statistical online tool for maintenance escalation.</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
</div>
